Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.3.1
django-filter==24.0
Pillow==10.1.0
numpy==1.24.3
opencv-python==4.8.1.78
ultralytics==8.0.232
reportlab==4.0.4
python-decouple==3.8